.tabs-wrapper {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 50px;
}

.tab-item {
  position: relative;
  font-size: 24px;
  color: #888;
  cursor: pointer;
  transition: color 0.5s;
}
@media (max-width: 768px) {
  .tab-item {
    font-size: 20px;
  }
}

.tab-item::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 2px;
  width: 0%;
  background-color: #000;
  transition: width 0.5s ease-in-out;
}

.tab-item:hover {
  color: #000;
}

.tab-item:hover::after {
  width: 100%;
}

.tab-item.active {
  color: #000;
  font-weight: 500;
}

.tab-item.active::after {
  width: 100%;
}
.btn-xem-tat-ca {
  margin-top: 30px;
  background-color: #f5a06d;
  color: white;
  border: none;
  padding: 12px 36px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: none;
}

.btn-xem-tat-ca:hover {
  background-color: #e68a50;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

.btn-wrapper {
  margin-top: 30px;
  text-align: center;
  margin-bottom: 30px;
}
